 <!-- About Section -->
    <section class="about" id="about">
    <br>
        <div class="container">
            <!-- START THE FEATURETTE -->

      <div class="row featurette">
        <div class="col lg-5 col-md-5 col-sm-5">
          <a href="https://www.linkedin.com/in/billymeinke"><img class="featurette-image img-responsive img-circle" src="img/billy-350.png" alt="Profile picture of Billy"></a>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7">
          <h2 class="featurette-heading"><br>Hi! I'm Billy.
          <br><span class="text-muted">I work on infrastructure.</span></h2>
          <p class="lead">There is a sweet spot at the intersection of education, science, technology and free culture. I've had a hand in making access to education opportunities free for anyone who wants to try. I've worked alongside scientists who compute and visualize data right in the browser. I've collaborated with technologists who see a very bright future if we build things together. <b>I'm building things now.</b>
          <br>
          </p>
        </div><!-- /.col -->
      </div><!-- /.row -->
      <hr>
      <div class="row featurette">
        <div class="col-lg-8 col-md-8 col-sm-8">
        <br>
          <h2 class="featurette-heading"><span class="text-muted">The real deal.</span></h2>
          <p class="lead">I'm an education professional in Hawaii. I studied social science at the University of California Santa Barbara and educational technology at the University of Hawaii at Manoa. I interned and worked at Creative Commons from 2012, and focused my energy helping others explore what it means for various domains to "be open" and building community among stakeholders of the world's largest OER project.</p>
          <br>
			<div class="text-right"> <a href="#blog" class="page-scroll"><button type="button" class="btn btn-primary">See more about me</button></a></div>
			<br>
        </div><!-- /.col -->
          <div class="col lg-4 col-md-4 col-sm-4">
          <a href="#work" class="page-scroll"><img class="featurette-image img-responsive page-scroll" src="img/graph.png" alt="#"></a>
        </div>
      </div><!-- /.row -->
  </div>
</div>
</section>