 <!-- About Section -->
    <section class="about" id="about">
    <br>
        <div class="container">
            <!-- START THE FEATURETTE -->

      <div class="row featurette">
              <div class="col lg-5 col-md-5 col-sm-5">
          <a href="collaborate/"><img class="featurette-image img-responsive" src="img/billy-350.png" alt="Generic placeholder image"></a>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7">
          <h2 class="featurette-heading">Hi! I'm Billy.
          <br><span class="text-muted">I work on the Web.</span></h2>
          <p class="lead">Many of the things I do take place at the intersection of free culture, science, and education. I've been involved in projects that will make education accessible to anyone, anywhere. I've also worked on projects that leverage the Web to work for science. Above all else, I help people find value in opening their processes and workflows.
          <br>
          </p>
        </div>
      </div>
</div>
        </div>
<br>
<br>
    </section>