<!-- Blog section-->
   <section id="blog" class="blog">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12 ">
                    <h1>Blog</h1>
                    <p>My personal weblog lives over at <a href="https://billymeinke.wordpress.com">billymeinke.wordpress.com</a>. What you'll find there is a timeline of posts telling my experience exploring computer and web technology in the context of learning and education. Earlier posts were largely reviews and tutorials of technology tools, then moving into involvement with Mozilla's Open Badges microcredentialling project, with later posts reflecting on Open Education and Open Science+Data.
                    </p>
                    <a href="#about" class="btn btn-primary page-scroll">
                        Go to the blog
                    </a>
                    <hr>
                    <br>
                    <h1>Other Written Things</h1>
                    <p>I've written for the blogs of Creative Commons, Public Library of Science (PLOS), and the OER Research Hub. Here are links to select works on my own blog and others:
                        <br>
                            <p><a href="http://creativecommons.org/weblog/entry/37060"><em>Debrief: Sprinting to Build an Open Science Course</em></a> on the CC blog  |  February 2013
                                <br>
                                <a href="http://blogs.plos.org/scied/2013/02/21/guest-post-open-data-day-sprint-courses-and-hackathons/"><em>Guest Post: Open Data Day, Course Sprints, and Hackathons!</em></a> on the PLOS SciEd blog  |  February 2013
                                <br>
                                <a href="http://oerresearchhub.org/2014/03/25/oer-fellowship-lenses-on-the-landscape-of-open-education/"><em>OER Fellowship: Lenses on the Landscape of Open Education</em></a> on the OER Research Hub blog  |  March 2014
                                <br>
                                <a href="http://creativecommons.org/weblog/entry/43541"><em>MapWorks Learning combines OER and open data to protect threatened biodiversity</em></a> on the CC blog  |  August 2014

                    </p>
                </div>
                <div>
                    <a href="#work" class="page-scroll"><button type="button" class="btn btn-primary">See more of my work</button></a>
                </div>
            </div>
        </div>
    </div>
</section>