    <!-- Connect Section -->
    <section id="connect" class="connect container content-section text-center">
        <div class="row featurette">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Get in touch</h2>
                <p>I'm active on social media channels and mailing lists related to open education+science, and can otherwise be reached at billy <code>dot</code> meinke <code>at</code> gmail <code>dot</code> com.</p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/billymeinke" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="http://www.linkedin.com/in/billymeinke" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/billymeinke" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+BillyMeinke/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                    <li>
                        <a href="https://www.flickr.com/photos/67338640@N04/" class="btn btn-default btn-lg"><i class="fa fa-flickr fa-fw"></i> <span class="network-name">Flickr</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
            <h2><br>My Resume/CV</h2>
            <p>A printer-friendly traditional resume/CV can be found below.</p>
            <a href="https://www.dropbox.com/s/u6ttf6ftvicm30t/BillyMeinke-resume-gen-Jan2015.pdf?dl=0" class="page-scroll"><button type="button" class="btn btn-primary">Click to view<br>my Resume/CV</button></a>
            </div>
        </div>
    </section>