   <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="blog-heading">Far enough down the path</h1>
                        <h3>A blog by an awkward expert. Made with mostly remixed stuff.
                        </h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>